<p> </p>
<a *ngFor="let edition of editions">
  <h1 class="customh1"> Edició {{edition.year}}:</h1>

  <p><img class="imgstyle imageReziser" src="../../../assets/pictures2019/cartell.jpeg"></p>
  <p><img class="imgstyle imageReziser" src="../../../assets/pictures2019/1.jpeg"></p>
  <p><img class="imgstyle imageReziser" src="../../../assets/pictures2019/2.jpeg"></p>
  <p><img class="imgstyle imageReziser" src="../../../assets/pictures2019/3.jpeg"></p>
  <p><img class="imgstyle imageReziser" src="../../../assets/pictures2019/4.jpeg"></p>
  <p><img class="imgstyle imageReziser" src="../../../assets/pictures2019/5.jpeg"></p>
  <p><img class="imgstyle imageReziser"  src="../../../assets/pictures2019/6.jpeg"></p>


</a>

