<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand whitecustomh1">Revolta de Tremp <a class="whitecustomh3">1719 </a></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="welcome">Inici <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="history">Història</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="calendar">Agenda</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="editions">Edicions</a>
      </li>
      <!-- Next section is just disabled cause I don't know how to pass an Edition throwgh a href-->
      <!--<li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Edicions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let edition of editions"
             [class.selected]="edition===selectedEdition"
             (click)="onSelect(edition)" class="dropdown-item"  [routerLink]="['editions']" [state]="{editionx:edition}"> {{edition.year}}</a>
          <a class="dropdown-item" href="#">2019</a>
          <a class="dropdown-item" href="#">2020</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Col·laboradors</a>
        </div>
      </li>-->
    </ul>
  </div>

  <img class="navbarBrandreziser" src="../../../assets/resources/logoTrabucaires.png" alt="Logo trabucaires" alt="logo trabucaires" align="right">

</nav>
