/* You can add global styles to this file, and also import other style files */
.whitecustomh1 {
  font-family: cursive;
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 33px;
  color: white;
}

.whitecustomh3 {
  font-family: "Brush Script MT", cursive;
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 33px;
}

.customh1 {
  font-family: cursive;
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 33px;
  color: black;
}
.custom1 {
  font-family: cursive;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 23px;
  color: white;
}

.paperbackground {
  background-image: url("src/assets/resources/img4.jpg");
}

.center{
  text-align: center;
}

.imgstyle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
