/* You can add global styles to this file, and also import other style files */
.customh1 {
  font-family: cursive;
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 33px;
  color: black;
}

.whitecustomh1 {
  font-family: cursive;
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 33px;
  color: white;
}

.customh3 {
  font-family: "Brush Script MT", cursive;
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 33px;
  color: black;
}

.whitecustomh3 {
  font-family: "Brush Script MT", cursive;
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 33px;
}

.custom1 {
  font-family: cursive;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 23px;
  color: white;
}

.custom3 {
  font-family: "Brush Script MT", cursive;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 23px;
  color: black;
}
.text-margins{
  margin-left: 40px;
  margin-right: 40px;
}

.text-margins2{
  margin-left: 20px;
}

.paperbackground {
  background-image: url("src/assets/resources/img4.jpg");
}

.center{
  text-align: center;
}

.imgstyle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbarBrandreziser{
  max-height: 70px;
  max-width: 50%;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}

.imageReziser {
  display: block;
  max-width: 80%;
  height: auto;

}
